## Formatação Abobrinha

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

## Tratamento dos Dados

In [3]:
df_abobrinha = pd.read_csv('Relatorio CSV\Relatorio Abobrinha 2006-2020.csv', delimiter=';',encoding='UTF-8')#ISO-8859-1
display(df_abobrinha)
df_abobrinha['Media dos preços Mensal'] = pd.to_numeric(df_abobrinha['Media dos preços Mensal'], errors = 'coerce')
df_abobrinha['Ano'] = pd.to_numeric(df_abobrinha['Ano'], errors = 'coerce')
ceasas = np.unique(df_abobrinha['Ceasa'])
estados = np.unique(df_abobrinha['Estado'])
ano = np.unique(df_abobrinha['Ano'])

,Nro,produto,Unidade,Ceasa,Estado,Cidade,Mes,Ano,Media dos preços Mensal
0,1,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mar,2006,0.60
1,2,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mai,2006,0.98
2,3,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,abr,2007,0.97
3,4,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,ago,2007,0.98
4,5,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,set,2007,1.03
...,...,...,...,...,...,...,...,...,...
6477,6478,ABOBRINHA,KG,CEASA,TO,Palmas,ago,2020,3.25
6478,6479,ABOBRINHA,KG,CEASA,TO,Palmas,set,2020,2.94
6479,6480,ABOBRINHA,KG,CEASA,TO,Palmas,out,2020,2.67
6480,6481,ABOBRINHA,KG,CEASA,TO,Palmas,nov,2020,2.81
6481,6482,ABOBRINHA,KG,CEASA,TO,Palmas,dez,2020,3.43

## Abobrinha estado do Acre

In [79]:
df_abobrinha_ac = df_abobrinha.loc[df_abobrinha["Estado"] == "AC"]
display(df_abobrinha_ac)

,Nro,produto,Unidade,Ceasa,Estado,Cidade,Mes,Ano,Media dos preços Mensal
1746,1747,ABOBRINHA,KG,CEASA,AC,Rio Branco,out,2010,2.00
1747,1748,ABOBRINHA,KG,CEASA,AC,Rio Branco,nov,2010,2.00
1748,1749,ABOBRINHA,KG,CEASA,AC,Rio Branco,dez,2010,2.00
1749,1750,ABOBRINHA,KG,CEASA,AC,Rio Branco,jan,2011,2.00
1750,1751,ABOBRINHA,KG,CEASA,AC,Rio Branco,fev,2011,2.00
1751,1752,ABOBRINHA,KG,CEASA,AC,Rio Branco,mar,2011,2.00
1752,1753,ABOBRINHA,KG,CEASA,AC,Rio Branco,abr,2011,2.00
1753,1754,ABOBRINHA,KG,CEASA,AC,Rio Branco,jun,2011,2.00
1754,1755,ABOBRINHA,KG,CEASA,AC,Rio Branco,jul,2011,2.00
1755,1756,ABOBRINHA,KG,CEASA,AC,Rio Branco,ago,2011,2.00
1756,1757,ABOBRINHA,KG,CEASA,AC,Rio Branco,set,2011,2.00
1757,1758,ABOBRINHA,KG,CEASA,AC,Rio Branco,out,2011,2.00
1758,1759,ABOBRINHA,KG,CEASA,AC,Rio Branco,nov,2011,2.00
1759,1760,ABOBRINHA,KG,CEASA,AC,Rio Branco,dez,2011,2.00
1760,1761,ABOBRINHA,KG,CEASA,AC,Rio Branco,jan,2012,2.00
1761,1762,ABOBRINHA,KG,CEASA,AC,Rio Branco,fev,2012,1.67
1762,1763,ABOBRINHA,KG,CEASA,AC,Rio Branco,mar,2012,1.50
1763,1764,ABOBRINHA,KG,CEASA,AC,Rio Branco,abr,2012,1.50
1764,1765,ABOBRINHA,KG,CEASA,AC,Rio Branco,mai,2012,1.50
1765,1766,ABOBRINHA,KG,CEASA,AC,Rio Branco,jun,2012,1.50
1766,1767,ABOBRINHA,KG,CEASA,AC,Rio Branco,jul,2012,1.50
1767,1768,ABOBRINHA,KG,CEASA,AC,Rio Branco,ago,2012,1.50
1768,1769,ABOBRINHA,KG,CEASA,AC,Rio Branco,set,2012,1.50
1769,1770,ABOBRINHA,KG,CEASA,AC,Rio Branco,out,2012,1.50
1770,1771,ABOBRINHA,KG,CEASA,AC,Rio Branco,nov,2012,1.50
1771,1772,ABOBRINHA,KG,CEASA,AC,Rio Branco,dez,2012,1.50
1772,1773,ABOBRINHA,KG,CEASA,AC,Rio Branco,jan,2013,1.50
1773,1774,ABOBRINHA,KG,CEASA,AC,Rio Branco,fev,2013,1.50
1774,1775,ABOBRINHA,KG,CEASA,AC,Rio Branco,mar,2013,1.50
1775,1776,ABOBRINHA,KG,CEASA,AC,Rio Branco,abr,2013,1.50
1776,1777,ABOBRINHA,KG,CEASA,AC,Rio Branco,mai,2013,1.50
1777,1778,ABOBRINHA,KG,CEASA,AC,Rio Branco,abr,2018,3.32
1778,1779,ABOBRINHA,KG,CEASA,AC,Rio Branco,mai,2018,2.31
1779,1780,ABOBRINHA,KG,CEASA,AC,Rio Branco,ago,2018,3.70
1780,1781,ABOBRINHA,KG,CEASA,AC,Rio Branco,set,2018,3.50
1781,1782,ABOBRINHA,KG,CEASA,AC,Rio Branco,out,2018,3.50

## Abobrinha estado de Alagoas

In [80]:
df_abobrinha_al = df_abobrinha.loc[df_abobrinha["Estado"] == "AL"]
display(df_abobrinha_al)

,Nro,produto,Unidade,Ceasa,Estado,Cidade,Mes,Ano,Media dos preços Mensal
1782,1783,ABOBRINHA,KG,CEASA,AL,Maceio ( IDERAL),dez,2007,1.08
1783,1784,ABOBRINHA,KG,CEASA,AL,Maceio ( IDERAL),jan,2008,1.10
1784,1785,ABOBRINHA,KG,CEASA,AL,Maceio ( IDERAL),fev,2008,1.16
1785,1786,ABOBRINHA,KG,CEASA,AL,Maceio ( IDERAL),mar,2008,1.16
1786,1787,ABOBRINHA,KG,CEASA,AL,Maceio ( IDERAL),abr,2008,1.36
...,...,...,...,...,...,...,...,...,...
1911,1912,ABOBRINHA,KG,CEASA,AL,Maceio ( IDERAL),jul,2020,2.00
1912,1913,ABOBRINHA,KG,CEASA,AL,Maceio ( IDERAL),ago,2020,2.36
1913,1914,ABOBRINHA,KG,CEASA,AL,Maceio ( IDERAL),out,2020,2.46
1914,1915,ABOBRINHA,KG,CEASA,AL,Maceio ( IDERAL),nov,2020,2.34
1915,1916,ABOBRINHA,KG,CEASA,AL,Maceio ( IDERAL),dez,2020,2.85

## Abobrinha estado da Bahia

In [81]:
df_abobrinha_ba = df_abobrinha.loc[df_abobrinha["Estado"] == "BA"]
display(df_abobrinha_ba)

,Nro,produto,Unidade,Ceasa,Estado,Cidade,Mes,Ano,Media dos preços Mensal
1916,1917,ABOBRINHA,KG,CEASA,BA,Juazeiro ( Mercado do Produtor ),jun,2009,0.47
1917,1918,ABOBRINHA,KG,CEASA,BA,Juazeiro ( Mercado do Produtor ),jul,2009,0.34
1918,1919,ABOBRINHA,KG,CEASA,BA,Juazeiro ( Mercado do Produtor ),ago,2009,0.27
1919,1920,ABOBRINHA,KG,CEASA,BA,Juazeiro ( Mercado do Produtor ),set,2009,0.32
1920,1921,ABOBRINHA,KG,CEASA,BA,Juazeiro ( Mercado do Produtor ),out,2009,0.19
...,...,...,...,...,...,...,...,...,...
2272,2273,ABOBRINHA,KG,CEASA,BA,Salvador ( EBAL ),ago,2020,1.64
2273,2274,ABOBRINHA,KG,CEASA,BA,Salvador ( EBAL ),set,2020,1.52
2274,2275,ABOBRINHA,KG,CEASA,BA,Salvador ( EBAL ),out,2020,1.16
2275,2276,ABOBRINHA,KG,CEASA,BA,Salvador ( EBAL ),nov,2020,2.03
2276,2277,ABOBRINHA,KG,CEASA,BA,Salvador ( EBAL ),dez,2020,1.65

## Abobrinha no estado do Ceará

## Abobrinha no estado do Distrito Federal

## Abobrinha no estado do Espirito Santo

## Abobrinha no estado de Goiânia

## Abobrinha no estado do Maranhão

## Abobrinha no estado de Minas Gerais

## Abobrinha no estado do Mato Grosso do Sul

## Abobrinha no estado do Mato Grosso

## Abobrinha no estado da Pará

## Abobrinha no estado de Paraíba

## Abobrinha no estado de Pernambuco

## Abobrinha no estado do Piauí

## Abobrinha no estado do Paraná

## Abobrinha no estado do Rio de Janeiro

## Abobrinha no estado do Rio Grande do Norte

## Abobrinha no estado de Rondônia

## Abobrinha no estado do Rio Grande do Sul

## Abobrinha no estado de Santa Catarina

## Abobrinha no estado de Sergipe

## Abobrinha no estado de São Paulo

In [4]:
df_abobrinha_sp = df_abobrinha.loc[df_abobrinha["Estado"] == "SP"]
display(df_abobrinha_sp)

,Nro,produto,Unidade,Ceasa,Estado,Cidade,Mes,Ano,Media dos preços Mensal
0,1,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mar,2006,0.60
1,2,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mai,2006,0.98
2,3,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,abr,2007,0.97
3,4,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,ago,2007,0.98
4,5,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,set,2007,1.03
...,...,...,...,...,...,...,...,...,...
6354,6355,ABOBRINHA,KG,CEASA,SP,Santo André (CRAISA),out,2006,0.93
6355,6356,ABOBRINHA,KG,CEASA,SP,Santo André (CRAISA),nov,2006,0.83
6356,6357,ABOBRINHA,KG,CEASA,SP,Santo André (CRAISA),dez,2006,0.65
6357,6358,ABOBRINHA,KG,CEASA,SP,Santo André (CRAISA),jan,2007,0.89
6358,6359,ABOBRINHA,KG,CEASA,SP,Santo André (CRAISA),fev,2007,0.90

In [19]:
cidades_sp = pd.unique(df_abobrinha_sp['Cidade'])
df_abobrinha_Aracatuba = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[0]]
df_abobrinha_Araraquara = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[1]]
df_abobrinha_Bauru = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[2]]
df_abobrinha_Franca = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[3]]
df_abobrinha_Marilia = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[4]]
df_abobrinha_Piracicaba = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[5]]
df_abobrinha_Presidente_Prudente = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[6]]
df_abobrinha_Ribeirao_Preto = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[7]]
df_abobrinha_São_Jose_do_Rio_Preto = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[8]]
df_abobrinha_Sao_Jose_dos_Campos = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[9]]
df_abobrinha_Sao_Paulo = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[10]]
df_abobrinha_Sorocaba = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[11]]
df_abobrinha_Campinas = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[12]]
df_abobrinha_Santo_Andre = df_abobrinha_sp.loc[df_abobrinha_sp["Cidade"] == cidades_sp[13]]

### Aracatuba

In [43]:
anos = np.unique(df_abobrinha_Aracatuba['Ano'])
print(anos)
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[0]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[0]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[1]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[1]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[2]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[2]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[3]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[3]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[4]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[4]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[5]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[5]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[6]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[6]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[7]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[7]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[8]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[8]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[9]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[9]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[10]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[10]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[11]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[11]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[12]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[12]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[13]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[13]}')
count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == anos[14]].count()
print(f'Existe {count[1]} dados sobre o ano de {anos[14]}')

[2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019
 2020]
Existe 2 dados sobre o ano de 2006
Existe 6 dados sobre o ano de 2007
Existe 3 dados sobre o ano de 2008
Existe 10 dados sobre o ano de 2009
Existe 12 dados sobre o ano de 2010
Existe 12 dados sobre o ano de 2011
Existe 11 dados sobre o ano de 2012
Existe 12 dados sobre o ano de 2013
Existe 10 dados sobre o ano de 2014
Existe 11 dados sobre o ano de 2015
Existe 6 dados sobre o ano de 2016
Existe 12 dados sobre o ano de 2017
Existe 8 dados sobre o ano de 2018
Existe 11 dados sobre o ano de 2019
Existe 10 dados sobre o ano de 2020

In [64]:
df_new = df_abobrinha_Aracatuba
display(df_new)
for i in anos:
    count = df_abobrinha_Aracatuba.loc[df_abobrinha_Aracatuba["Ano"] == i].count()
    if(count[1] < 8):
        filtro = df_new["Ano"] != i
        df_new = df_new[filtro]
display(df_new)
df_new = df_new.drop(columns=['Nro'])
display(df_new)
df_new.loc[9] = ['ABOBRINHA','KG','CEAGESP','SP','Araçatuba','jan',2009,'NaN']
df_new.loc[10] = ['ABOBRINHA','KG','CEAGESP','SP','Araçatuba','fev',2009,'NaN']
display(df_new.sort_index())

,Nro,produto,Unidade,Ceasa,Estado,Cidade,Mes,Ano,Media dos preços Mensal
0,1,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mar,2006,0.60
1,2,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mai,2006,0.98
2,3,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,abr,2007,0.97
3,4,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,ago,2007,0.98
4,5,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,set,2007,1.03
...,...,...,...,...,...,...,...,...,...
131,132,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,ago,2020,2.90
132,133,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,set,2020,2.96
133,134,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,out,2020,2.74
134,135,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,nov,2020,2.58
135,136,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,dez,2020,2.39

,Nro,produto,Unidade,Ceasa,Estado,Cidade,Mes,Ano,Media dos preços Mensal
11,12,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mar,2009,1.25
12,13,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,abr,2009,0.99
13,14,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mai,2009,1.03
14,15,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,jun,2009,1.00
15,16,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,jul,2009,1.48
...,...,...,...,...,...,...,...,...,...
131,132,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,ago,2020,2.90
132,133,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,set,2020,2.96
133,134,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,out,2020,2.74
134,135,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,nov,2020,2.58
135,136,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,dez,2020,2.39

,produto,Unidade,Ceasa,Estado,Cidade,Mes,Ano,Media dos preços Mensal
11,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mar,2009,1.25
12,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,abr,2009,0.99
13,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mai,2009,1.03
14,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,jun,2009,1.00
15,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,jul,2009,1.48
...,...,...,...,...,...,...,...,...
131,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,ago,2020,2.90
132,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,set,2020,2.96
133,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,out,2020,2.74
134,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,nov,2020,2.58
135,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,dez,2020,2.39

,produto,Unidade,Ceasa,Estado,Cidade,Mes,Ano,Media dos preços Mensal
9,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,jan,2009,NaN
10,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,fev,2009,NaN
11,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mar,2009,1.25
12,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,abr,2009,0.99
13,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,mai,2009,1.03
...,...,...,...,...,...,...,...,...
131,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,ago,2020,2.9
132,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,set,2020,2.96
133,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,out,2020,2.74
134,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,nov,2020,2.58
135,ABOBRINHA,KG,CEAGESP,SP,Araçatuba,dez,2020,2.39

### Araquara

### Bauru

### Franca

### Marília

### Piracicaba

### Presidente Prudente

### Ribeirão Preto

### São José do Rio Preto

### São José dos Campos

### São Paulo

### Sorocaba

### Campinas

### Santo André

## Abobrinha no estado de Tocantins